/* General formatting */
body, button, p, h3 {
    font-family:'Times New Roman', Times, serif, sans-serif;
}
.pageColor {
    text-align: center;
}
.header {
    text-decoration: underline;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.floatContainer {
    display: flex;
    justify-content: center;
}
.lineBottom {
    border: 1px solid black;
    clear: both;
    margin: 20px auto;
    width: 90%;
}

/* Text */
.bold {
    font-weight: bold; 
}
.antique {
    color: red;
}
p {
    font-weight: bold;
}
ul p {
    text-align: left;
}


/* Buttons */
button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    font-weight: bold;
}
button:hover {
    font-size: 24px;
    text-shadow: 1px 1px 0 black;
}
.yellowButton {
    color: #ffe135;
}
.pinkButton {
    color: #ff0066;
}
.blueButton {
    color: blue;
}

/* Dynamic text */
.divBorder {
    border: 1px solid black;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}