body {
	font-family: 'Arial', sans-serif;
    font-size: 16px;
	background-color: #0e0906;
	color: #29524a;
}
.pagerules {
	margin-left: 100px;
	min-width: 600px;
	width: 90%;
	text-align: center;
}
.navbar {
	position: fixed;
	top: 50%;
    transform: translateY(-85%);
    left: 0;
    width: 88px;
    height: auto;
	box-shadow: 
    0px 0 0 6px #29524a,
	0px 0 0 6px #94a187 inset;
	display: inline-block;
	text-align: left;
}
.navbar a {
	display: block;
    color: #29524a;
    text-decoration: none;
    margin: 5px;
	padding: 10px 0px;
	padding-left: 10px;
	position: relative;
	font-weight: normal;
}
a:hover {
	font-weight: bold;
	background-color: #102542;
}
.list-container ul, .list-container ol {
	display: inline-block;
	text-align: left;
}
.table {
	display:table;
	width: 80%;
	margin: 0 auto;
}
.row {
	display: table-row;
}
.cell {
	display: table-cell;
	padding: 2x;
	border: 1px solid #29524a;
	vertical-align: top;
}
.navbar form {
    position: relative;
    padding: 0;
}
.navbar form button {
	font-family: 'Arial', sans-serif;
    font-size: 16px;
    background-color: #0e0906;
    color: #29524a;
    padding: 8px 20px;
	border: none;
	margin-left: 6px;
	margin-top: 6px;
}
.navbar form button:hover {
    background-color: #102542;
	padding: 8px 22px;
    font-weight: bold;
}